* {
	font-family: 'Exo 2', sans-serif;
}
body {
	background:#12021f;
}    
.program {
      width: 60%;
      height: auto;
      background: white;
		border-radius: 4pt;
      background-color: #430078;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -55%);
    transition: width 1s, height 1s;
    }
 
  .program.minimized {
    width: 10%;
    height: 5%;
    transition: width 1s, height 1s, opacity 0.5s;
    opacity: 0;
  }

    .program-header {
      height: 40px;
      background-color: #430078;
      border-top: 0px solid black;
      border-left: 0px solid black;
      border-right: 0px solid black;
		border-radius: 3pt 3pt 0pt 0pt;
      position: relative;
    }

   .program-title {
      position: absolute;
      top: 0;
      left: 0;
	   padding-left: 10px;
      display: flex;
      align-items: center;
      height: 100%;
		color:white;
	   opacity:.67;
	   font-size:12pt;
    }
.program-title:after {
	content:'　Outpainting Wallpaper 16:9 - MoeFang'
}
    .program-icons {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      height: 100%;
		color:white;
    }
    
    .program-icon {
      margin: 0 14px;
      color: white;
      cursor: pointer;
    transition: color .5s;
    }
 
.pr-min {font-size: 12pt;}
.pr-max {font-size: 12pt;}
.pr-x {font-size: 14pt;}

.downloadicon {
    position: absolute;
    right: -4px;
    top: 5px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
    color: #7b4ca0;
    transition: color .5s;
    cursor: pointer;
}
.program-icon:hover, .downloadicon:hover {
	  color: #bd6bff;
}
    
  .maximized {
    transition: width 1s, height 1s;
  }
 

/*---- slider kontent ----*/

.program-content {
      height: calc(100% - 40px);
  width: 100%;
  height: auto;
  position: relative;
    overflow: hidden;
}

.slideshow-container {
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  width: 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.text {
    color: black;
    position: relative;
    background-color: rgb(231 231 231);
    padding: 10px 10px 20px 10px;
    text-align: left;
}
.prompttitle {
	font-size:9pt;
	font-weight:bold;
	background-color:#6d6d6d;
	padding:5pt;
	border-radius:5pt;
	color:white;
}

.prompttext {
    padding: 6pt;
    font-size: 10pt;
}
.prev,
.next {
  position: absolute;
  top: 40%;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  color: white;
  transition: 0.6s ease;
  cursor: pointer;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  color: white;
  background-color: #430078;
}


.imgmember {
    color: #ffffff94;
    position: absolute;
    left: 10px;
    bottom: 55px;
    font-weight: 900;
    font-size: 2.3vw;
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 16px;
  }
}

/*--- desktop program table ---*/
.desktopprog {
	width:30px;
	text-align: center;	
}
.desktopprog td {
	padding:5pt;	
  transition: 0.2s ease;
  cursor:pointer;
}
.desktopprog td:hover {
  background-color: #7b4ca063;
}

.desktopico {
	font-size:25pt;	
	text-align: center;
}

.desktoptext {
	color:white;
	font-size:9pt;
	text-align: center;
}

.desktop1 {color:#b983e4;transition: 0.2s ease;}
.desktop2 {color:#8839c7;transition: 0.2s ease;}
.desktop1:hover, .desktop2:hover {color:white;}
/*--- windows ---*/
.taskbar {
  position: fixed;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: #430078;
  display: flex;
  align-items: center;
  padding: 0 10px;
left: 0;
}

.start-button {
	display: flex;
	color:white;
	justify-content: center;
	align-items: center;
	font-size: 23px;
	padding-right: 15pt; 
	padding-left: 5pt; 
	transition: color .5s;
}

.start-button:hover {
	color:#bd6bff;

}
.search-box {
  display: flex;
  align-items: center;
  margin-right: 20px;
	transition:  .5s;
}

.search-box input[type="text"] {
  width: 180px;
  height: 28px;
  padding: 2px 5px;
  border: 1px solid #7b4ca0;
  border-radius: 4px;
  font-size: 14px;
  background-color: #350060;
  color: white;
	transition:  .5s;
}

.search-box .search-button {
  background-color: transparent;
  border: none;
  margin-left: -32px;
  color: white;
}
.search-box:focus {
	background-color:white;
}

.programnya1 {	
  font-size: 25px;
}
.programnya2 {	
  width: 25px;
  height: 25px;
}

.programnya3 {	
  font-size: 20px;
}

.prog-active {
  border-bottom: 3px solid white;
  background-color: transparent;
	height:37px;
	margin-bottom:5px;
	transition: background-color .2s;
}
.prog-active:hover {
  background-color: #7b4ca0;
}

.prog-inactive:hover {
  background-color: #7b4ca0;
  border-bottom: 3px solid #7b4ca0;
}
.prog-none {
  width: 70%;
  height: 40px;
  background-color: transparent;
}

.prog-inactive {
	margin-bottom:5px;
  border: none;
  font-size: 14px;
  background-color: transparent;
	transition: background-color .2s;
}

.system {
	margin-bottom:5px;
  border: none;
  font-size: 10px;
  background-color: transparent;
	transition: background-color .2s;
}
.programs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 40px;
}
.aktif {color:white;}
.spotify {color:#1db954;}
.ikonbiasa {color:white;}

.taskbar-right {
  display: flex;
  align-items: center;
}

.time {
  font-size: 20px;
  margin-right: 10px;
  color: white;
 padding-right:10pt;
}

.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
	font-size:12pt;
  background-color: #f4f4f4;
  color: black;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
      left: 50%;
      transform: translate(-50%, 0%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.collectimgblur {
  filter: blur(40px) grayscale(100%);
  width: 100%;
  transition: filter .4s ease-in-out;
}

.confirm-btn {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 3px solid white;
  border-radius: 3px;
  padding: 5px 10px;
  color: white;
  font-size: 19pt;
  transition: all .4s ease-in-out;
  cursor: pointer;
}
 
.confirm-btn:hover {
  background-color: white;
  color: purple;
  transition: all .4s ease-in-out;
}
